/* Required CSS styling definitions for autograde */

body {
    display: block;
    margin: 8px;
}

#mainHeading {
    color: red;
}

#testP {

}

.funParagraph {
    color: green;
}

header {
    max-width: 1000px;
    margin: auto;
}

main {
    max-width: 1000px;
    margin: auto;
}

footer {
    max-width: 1000px;
    margin: auto;
}

/* The actual styling */
p {
    font-size: 20px;
}
img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

figure {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: lightgray;
}

h1 {
    text-align: center;
}

#subtitle {
    
}

#testP {

}

.funParagraph {

}